---
layout: page 
title: "Нашите климатици" 
id: "all-air-conditioners-page" 
--- 

{% assign airConditioners = site.air-conditioners %} 


{% include page-header.html data = site.data.sellPoints.body.entries %} 

<ul class= "entry-list product-list air-conditioner-list">
{% for airConditioner in airConditioners %} 
	{% assign specs = airConditioner.specs.body %} 
	{% assign pageUrl = "/air-conditioners/" | append: airConditioner.model %} 

	<li class= "entry product air-conditioner">  
		<section class= "product-head">
			{% include cover-image.html src = "/" %}  
			{% include price.html integrals = airConditioner.price.integrals fractions = airConditioner.price.fractions %}
		</section>  

		<section class= "spec-overview">  
			{% include key-value-pair.html className = "model" key = "Модел" value = airConditioner.model %} 
			{% include key-value-pair.html className = "type" key = "Тип" value = airConditioner.type %} 
			{% include key-value-pair.html className = "serie" key = "Серия" value = airConditioner.serie %}  
		</section> 

		{% include link.html className = "details-link" text = "Вижте повече" target = pageUrl %}
		
	</li>
{% endfor %} 
</ul>
