---
layout: page 
--- 

{% assign airConditioners = site.air-conditioners %}

<ul class= "air-conditioner-list">
{% for airConditioner in airConditioners %} 
	{% assign specs = airConditioner.specs.body %} 
	{% assign pageUrl = "/air-conditioners/" | append: airConditioner.model %} 

	<li class= "air-conditioner">  
		{% include image.html src = "/" %} 
		{% include heading.html className = "model" level = 3 text = airConditioner.model %} 
		{% include price.html integrals = airConditioner.price.integrals fractions = airConditioner.price.fractions %} 
		{% include link.html className = "details-link" text = "Вижте повече" target = pageUrl %} 

		<section class= "spec-set">  
			{% include key-value-pair.html className = "type" key = "Тип" value = airConditioner.type %} 

			{% include extract-value.html model = airConditioner key = "Енергиен клас" %} 
			{% include key-value-pair.html className = "energy-class" key = "Енергиен клас" value = value %} 
		</section>
		
	</li>
{% endfor %} 
</ul>
