.intro { 
	--hex-holder-width: 100px; 
	--hex-holder-height: var( --hex-holder-width ); 
	--hex-icon-size: calc( 0.585 * var( --hex-holder-height ) ); 
	--system-holder-width: 70px; 
	--system-holder-height: 61px;
	--system-icon-size: calc( 0.7 * var( --system-holder-height ) ); 
	--background-color:#C18C5D; /* #F0E68C */
	--foreground-color:  #061826; /* #3A405A; */ /* #323232 */
	
	--head-border-width: calc( var( --hex-holder-height ) / 2 ); 
	
	--head-background-hex-cross-pos: 150px; 
	--head-background-pull-up-duration: 0.4s; 
	--head-background-pull-up-delay: 0.2s; 
	
	--hex-in-delay: calc( var( --head-background-pull-up-delay ) + 0.8 * var( --head-background-pull-up-duration ) ); 
	--hex-fade-in-duration: 0.075s; 
	--hex-slide-up-duration: 0.2s; 
	--icon-slide-up-duration: 0.2s; 
	--icon-fade-in-duration: 0.075s; 
	--icon-in-start-relative-delay: 0.075s; 
	--icon-in-relative-delay: 0.07s; 

	--icon-in-start-delay: calc( var( --hex-in-delay ) + var( --icon-in-start-relative-delay ) ); 
	--icon-immune-in-delay: calc( var( --icon-in-start-delay ) + 0 * var( --icon-in-relative-delay ) ); 
	--icon-cardio-in-delay: calc( var( --icon-in-start-delay ) + 1 * var( --icon-in-relative-delay ) ); 
	--icon-respiratory-in-delay: calc( var( --icon-in-start-delay ) + 2 * var( --icon-in-relative-delay ) ); 
	--icon-neural-in-delay: calc( var( --icon-in-start-delay ) + 3 * var( --icon-in-relative-delay ) ); 
	--icon-skeletal-in-delay: calc( var( --icon-in-start-delay ) + 4 * var( --icon-in-relative-delay ) ); 
	
	--block-in-relative-delay: -0.5s;  
	--block-fade-in-duration: 0.25s; 
	--block-slide-up-duration: 0.25s; 
	--block-in-delay: calc( var( --icon-skeletal-in-delay ) + var( --icon-slide-up-duration ) + var( --block-in-relative-delay ) ); 
	
	
	--logo-fade-in-duration: 0.075s; 
	--logo-slide-down-duration: 0.2s; 
	--logo-in-relative-delay: 0.0125s; 
	--logo-in-relative-delay: 0.0125s; 
	--logo-in-delay: calc( var( --block-in-delay ) + var( --block-slide-up-duration ) + var( --logo-in-relative-delay ) ); 
	
} 

.points-section { 
	--column-count: 3; 
	--gutter-x-width: 0.25rem; 
	--gutter-y-width: 0.75rem; 
} 

@font-face { 
	src: url( './fonts/impact.ttf' ); 
	font-family: Impact; 
	
} 

@font-face { 
	src: url( './fonts/ionicons.ttf' ); 
	font-family: IonIcons; 
	
}

body { 
	margin: 0; 
	padding: 0; 
}

.intro { 
	width: 100%; height: 100%; 
	position: fixed; 
	/* background-color: var( --background-color );   */ 
	overflow: auto; 
} 

.intro-wrapper { 
	width: 100%; min-height: 100%;  
}

.head, .body { 
	box-sizing: border-box;  
	/* padding-bottom: var( --head-border-width );  */ 
	position: absolute; left: 0; right: 0;  
	/* overflow: hidden;  */ 
	background-color: var( --foreground-color ); 
	color: var( --background-color ); 
} 

.head, .body { 
	display: flex; flex-direction: column; justify-content: center; 
}

.content { 
	max-width: 960px; 
	margin-left: auto; margin-right: auto; 
	padding-left: 1.25rem; padding-right: 1.25rem; 
	text-align: center; 
	
} 

.logo, .hex, .icon { 
	margin-left: auto; margin-right: auto; 
}

.head {  
	display: block; 
	top: 100%; bottom: 0; z-index: 2;  
	/* padding-bottom: var( --head-border-width );  */  
	/* border-top: 1px solid;  */ 
	background-color: var( --background-color ); 
	color: var( --foreground-color ); 
} 

/* .head .content { 
	padding: 2.5rem;   
}  */

/* .head:after { 
	display: block; 
	width: 100%; height: 200%; 
	position: absolute; left: 0; top: 0; z-index: -1; 
	background-color: var( --foreground-color );
	transform: translateY( -100% ); 
	content: ""; 
}  */

/* .block { 
	transform: translateY( 0 ); 
	opacity: 0; 
}  */

/* .logo { 
	width: 7rem; height: 4rem; 
	margin-bottom: 0.25rem; 
	background-image: url( ./icons/ellibeetherapy-logo.png ); background-size: contain; background-repeat: no-repeat; 
}  */ 

.head .content, .body .content { 
	transform: translateY( -50% ); 
	opacity: 0; 

}

.heading {  
	margin-top: 2.75rem; 
	margin-bottom: 0.7rem; 
	position: relative; z-index: 3; 
	font-size: 1.5rem;
} 

.heading, .under-construction-after-message, .under-construction-message { 
	text-transform: uppercase; 
} 

.heading, .under-construction-message { 
	font-family: Impact;  
} 

.heading-icon:before { 
	display: inline-block; 

	font-family: IonIcons; font-size: 0.4rem; 
	content: "\f137"; 
	opacity: 0; 

}

.text { 
	margin-bottom: 2rem; 
	font-family: Arial; font-size: 0.75rem; text-transform: uppercase; 
	line-height: 1.25; 
} 

/* .block { 
	margin-bottom: 2.5rem;  

} */

.under-construction-after-message-holder { 
	/* margin-top: -5rem; 
	margin-bottom: 2.5rem;  
	opacity: 0;  */ 

	width: 100%;  
	/* position: absolute; bottom: 0;  */ 
	text-align: center; 
}

.under-construction-after-message {  
	/* box-sizing: border-box;  */
	display: inline-block; 
	/* height: 2.5rem; line-height: 2.5rem;  */
	/* margin-bottom: calc( -1 * 4rem / 2 );  */ 
	/* padding-left: 0.85rem; padding-right: 0.85rem; */ 
	padding: 1.2rem; 
	border: 1px solid; 
	/* background-color: var( --foreground-color ); 
	color: var( --background-color );  */ 
	font-family: Arial; 
	font-size: 0.85rem; 
} 

/* .body {  
	padding-top: 4.75rem; 
	padding-bottom: 4.75rem; 
}  */ 

/* .under-construction-message, 
.countdown {  
	border: none;  
	font-family: Impact;    
	transform: translateY( 25px ); 
	opacity: 0; 

}  */

/* .countdown { 
	margin-top: 2.85rem; 

} */

/* .under-construction-message, 
.countdown { 
	margin-top: 2.5rem; 

} */

.under-construction-message { 
	display: inline-block; 
	/* padding-top: 0.85rem;  */ 
	padding-bottom: 0.7rem;  
	/* margin-top: 1.5rem;   */
	position: relative; 
	font-family: Arial; 
	font-size: 0.8rem; 
} 

.under-construction-message:after { 
	display: block; 
	margin-bottom: 0.2rem; 
	height: 1px; 
	position: absolute; left: 25%; right: 25%; bottom: 0;  
	background-color: var( --background-color );  
	/* content: "\f474";  */
	content: ""; 
	font-family: IonIcons; 
	font-size: 1.25rem; 

}

.hex { 
	/* margin-top: calc( -1 * var( --head-border-width ) );   */
	/* border-radius: 50%; 
	background-color: #444;  */
	position: absolute; top: calc( -1 * var( --head-border-width ) );  
	transform: translateY( -50% ); 
	opacity: 0; 
	text-align: center; 

}

.hex:before {
	/* display: flex; align-items: center; justify-content: center;  */ 
	display: inline-block;  
	width: 1.25em !important; height: 1.25em !important; line-height: 1.25em; 
//	border: 1px solid; border-radius: 50%;  
	font-family: IonIcons; font-size: 2.85rem; 
	content: "\f137"; 
	background-color: var( --foreground-color ); 
	color: var( --background-color ); 
	text-shadow: 0 0 2px var( --background-color ); 
	box-shadow: 0 0 2px var( --background-color ); 
} 

/* .body { 
	display: flex; flex-direction: column; justify-content: center; 

} */

.body .content { 
	/* height: 100%;  */ 
	/* margin-top: calc( -1 * var( --head-border-width ) );  */  
} 

.body { 
	/* display: block;  */ 
	top: 0; bottom: 100%; z-index: 1; 
	/* background-color: var( --background-color );  */

}

.body .block { 
	box-sizing: border-box; 
	/* display: inline-block;  */
	/* width: 15rem; height: 8rem;  */
	/* margin-top: -4rem;  */
	/* padding-top: 2rem; padding-bottom: 2rem;     */
	/* border: 1px solid var( --background-color );  */
	/* background-color: var( --foreground-color );
	color: var( --background-color );  */


}

/* .hex, .icon, .hex:before, .icon:before { 
	background-position: center; background-size: contain; background-repeat: no-repeat;  
} */

.hex, .icon { 
	display: flex; align-items: center; justify-content: center; 
	margin-bottom: 0.475rem; 
}

.hex { 
	width: var( --hex-holder-width ); height: var( --hex-holder-height );  
	width: 100%; 
	/* background-image: url( './icons/hex.png' );  */ 
	/* transform: translateY( 150px ); 
	opacity: 0;  */
} 

/* .hex:before, .icon:before {  
	display: block; 
	content: ""; 
}  */

.hex:before { 
	width: var( --hex-icon-size ); height: var( --hex-icon-size ); 
} 


/* .intro, .body, .hex, 
.head:after, .icon, .logo, .head .content, .block, 
.under-construction-after-message-holder, .under-construction-after-message, .under-construction-message, 
.countdown, 
.pieces, .point.logo, .points-section, .original-logo, .left, .right, .point, .point:before, .point .text { 
	animation-fill-mode: forwards;	
} 

.head:after { 
	animation-name: pull-up; animation-duration: var( --head-background-pull-up-duration ); animation-delay: var( --head-background-pull-up-delay ); animation-timing-function: ease; 
	
} 

.hex { 
	animation-name: fade-in, slide-up; animation-duration: var( --hex-fade-in-duration ), var( --hex-slide-up-duration ); animation-delay: var( --hex-in-delay ); 
	
} 

.block { 
	animation-name: fade-in, slide-up; animation-duration: var( --block-fade-in-duration ), var( --block-slide-up-duration ); animation-delay: var( --block-in-delay ); 
	
}

.under-construction-after-message-holder { 
	animation-name: fade-in, slide-down; animation-duration: var( --logo-fade-in-duration ), var( --logo-slide-down-duration ); animation-delay: var( --logo-in-delay ); 
	
} 

.under-construction-message, 
.countdown { 
	animation-name: fade-in, slide-up; animation-duration: var( --icon-fade-in-duration ), var( --icon-slide-up-duration ); animation-delay: var( --icon-in-start-delay ); 
	
} 

.under-construction-message { 
	animation-delay: calc( var( --icon-in-start-delay ) + 0.125s ); 
}  */


.head, 
.body, 
.content, 
.hex { 
	animation-fill-mode: forwards; 

} 

.head { 
	animation-name: expand-to-top, shrink-to-bottom; animation-delay: 0s, 0.5s; animation-duration: 0.4s; 

} 

.body { 
	animation-name: shrink-to-top; animation-delay: 0.5s; animation-duration: 0.4s; 

}   

.head .content, .hex { 
	animation-name: fade-in, slideY; animation-delay: 0.75s; animation-duration: 0.4s; 

} 

/* .hex {
	animation-name: slideY, fade-in; animation-delay: 2s; animation-duration: 0.4s; 
} */ 

.body .content { 
	animation-name: fade-in, slideY; animation-delay: 0.7s; animation-duration: 0.4s; 

}


@keyframes expand-to-bottom { 

	100% { 
		bottom: 0; 
	}

} 

@keyframes shrink-to-bottom { 

	100% { 
		top: 50%; 
	}

} 

@keyframes expand-to-top { 

	100% { 
		top: 0; 
	}

} 

@keyframes shrink-to-top { 

	100% { 
		bottom: 50%; 
	}

} 

@keyframes fade-in { 

	100% { 
		opacity: 1;  
	}

} 

@keyframes slideY { 

	100% { 
		transform: translateY( 0 ); 
	}

}










































@keyframes pull-up { 

	/* 80% { 
		transform: translateY( calc( -50% + 150px ) ); 
	} */

	100% { 
		transform: translateY( 0 ); 
	}
	
} 

/* @keyframes slide-up { 

	100% { 
		transform: translateY( 0 ); 
	}
	
} 

@keyframes fade-in { 

	100% { 
		opacity: 1; 
		
	}
	
} 

@keyframes slide-down { 

	100% { 
		margin-top: 0; 
		
	}
	
}  */






























