.intro { 
	--hex-holder-width: 100px; 
	--hex-holder-height: var( --hex-holder-width ); 
	--hex-icon-size: calc( 0.585 * var( --hex-holder-height ) ); 
	--system-holder-width: 70px; 
	--system-holder-height: 61px;
	--system-icon-size: calc( 0.7 * var( --system-holder-height ) ); 
	--background-color:#C18C5D; /* #F0E68C */
	--foreground-color:  #061826; /* #3A405A; */ /* #323232 */
	
	--head-border-width: calc( var( --hex-holder-height ) / 2 ); 
	
	--head-background-hex-cross-pos: 150px; 
	--head-background-pull-up-duration: 0.4s; 
	--head-background-pull-up-delay: 0.2s; 
	
	--hex-in-delay: calc( var( --head-background-pull-up-delay ) + 0.8 * var( --head-background-pull-up-duration ) ); 
	--hex-fade-in-duration: 0.075s; 
	--hex-slide-up-duration: 0.2s; 
	--icon-slide-up-duration: 0.2s; 
	--icon-fade-in-duration: 0.075s; 
	--icon-in-start-relative-delay: 0.075s; 
	--icon-in-relative-delay: 0.07s; 

	--icon-in-start-delay: calc( var( --hex-in-delay ) + var( --icon-in-start-relative-delay ) ); 
	--icon-immune-in-delay: calc( var( --icon-in-start-delay ) + 0 * var( --icon-in-relative-delay ) ); 
	--icon-cardio-in-delay: calc( var( --icon-in-start-delay ) + 1 * var( --icon-in-relative-delay ) ); 
	--icon-respiratory-in-delay: calc( var( --icon-in-start-delay ) + 2 * var( --icon-in-relative-delay ) ); 
	--icon-neural-in-delay: calc( var( --icon-in-start-delay ) + 3 * var( --icon-in-relative-delay ) ); 
	--icon-skeletal-in-delay: calc( var( --icon-in-start-delay ) + 4 * var( --icon-in-relative-delay ) ); 
	
	--block-in-relative-delay: -0.5s;  
	--block-fade-in-duration: 0.25s; 
	--block-slide-up-duration: 0.25s; 
	--block-in-delay: calc( var( --icon-skeletal-in-delay ) + var( --icon-slide-up-duration ) + var( --block-in-relative-delay ) ); 
	
	
	--logo-fade-in-duration: 0.075s; 
	--logo-slide-down-duration: 0.2s; 
	--logo-in-relative-delay: 0.0125s; 
	--logo-in-relative-delay: 0.0125s; 
	--logo-in-delay: calc( var( --block-in-delay ) + var( --block-slide-up-duration ) + var( --logo-in-relative-delay ) ); 
	
} 

.points-section { 
	--column-count: 3; 
	--gutter-x-width: 0.25rem; 
	--gutter-y-width: 0.75rem; 
} 

@font-face { 
	src: url( './fonts/impact.ttf' ); 
	font-family: Impact; 
	
} 

@font-face { 
	src: url( './fonts/ionicons.ttf' ); 
	font-family: IonIcons; 
	
}

body { 
	margin: 0; 
	padding: 0; 
}

.intro { 
	width: 100%; height: 100%; 
	position: fixed; 
	overflow: auto; 
} 

.intro-wrapper { 
	width: 100%; min-height: 100%;  
}

.head, 
.body { 
	box-sizing: border-box;  
	position: absolute; left: 0; right: 0;  
	background-color: var( --foreground-color ); 
	color: var( --background-color );  
} 

.head, 
.body { 
	display: flex; flex-direction: column; justify-content: center; 
}

.content { 
	max-width: 960px; 
	margin-left: auto; margin-right: auto; 
	padding-left: 1.25rem; padding-right: 1.25rem; 
	text-align: center; 
	
} 

.logo, .hex, .icon { 
	margin-left: auto; margin-right: auto; 
}

.head {  
	display: block; 
	top: 100%; bottom: 0; z-index: 2;  
	background-color: var( --background-color ); 
	color: var( --foreground-color ); 
	overflow: hidden; 
} 

.head .content, 
.body .content { 
	transform: translateY( -50% ); 
	opacity: 0; 

}

.heading {  
	margin-top: 2.75rem; 
	margin-bottom: 0.7rem; 
	position: relative; z-index: 3; 
	font-size: 1.5rem;
} 

.heading, 
.under-construction-after-message, 
.under-construction-message { 
	text-transform: uppercase; 
} 

.heading, .under-construction-message { 
	font-family: Impact;  
} 

.heading-icon:before { 
	display: inline-block; 

	font-family: IonIcons; font-size: 0.4rem; 
	content: "\f137"; 
	opacity: 0; 

}

.text { 
	margin-bottom: 2rem; 
	font-family: Arial; font-size: 0.75rem; text-transform: uppercase; 
	line-height: 1.25; 
} 

.under-construction-after-message-holder { 
	width: 100%;  
	text-align: center; 
}

.under-construction-after-message {  
	display: inline-block; 
	padding: 1.2rem; 
	border: 1px solid; 
	font-family: Arial; 
	font-size: 0.85rem; 
} 

.under-construction-message { 
	display: inline-block; 
	padding-bottom: 0.7rem;  
	position: relative; 
	font-family: Arial; 
	font-size: 0.8rem; 
} 

.under-construction-message:after { 
	display: block; 
	margin-bottom: 0.2rem; 
	height: 1px; 
	position: absolute; left: 25%; right: 25%; bottom: 0;  
	background-color: var( --background-color );  
	content: ""; 
	font-family: IonIcons; 
	font-size: 1.25rem; 

}

.body { 
	top: 0; bottom: 100%; z-index: 2; 

}

.body .block { 
	box-sizing: border-box; 
}

.hex, 
.icon { 
	display: flex; align-items: center; justify-content: center; 
	/* margin-bottom: 0.475rem;  */ 
} 

.hex { 
	width: 100%; 
	position: absolute; z-index: 2; 
	bottom: calc( -1.25em / 2 );   
	transform: translateY( -50% ); 
	opacity: 0;   
	text-align: center;   
	font-size: 2.85rem; 

}

.hex:before {
	display: block;  
	width: 1.25em; height: 1.25em; line-height: 1.25em;    
	font-family: IonIcons;  font-size: 2.85rem; 
	content: "\f137"; 
	background-color: var( --foreground-color ); 
	border-radius: 50%;  
	color: var( --background-color );  
	text-shadow: 0 0 2px var( --background-color ); 
	box-shadow: 0 0 2px var( --background-color ); 
} 

/* .hex:before { 
	width: var( --hex-icon-size ); height: var( --hex-icon-size ); 
}  */


.head, 
.body, 
.head .content, 
.body .content, 
.hex { 
	animation-fill-mode: forwards; 

} 

.head { 
	animation-name: expand-to-top, shrink-to-bottom; animation-delay: 0s, 0.5s; animation-duration: 0.4s; 

} 

.body { 
	animation-name: shrink-to-top; animation-delay: 0.5s; animation-duration: 0.4s; 

}   

.head .content { 
	animation-name: fade-in, slideY; animation-delay: 0.75s; animation-duration: 0.4s; 

} 

.hex { 
	animation-name: fade-in, slideY; animation-delay: 0.7s, 0.75s, 0.75s; animation-duration: 0.005s, 0.4s, 0.4s; 

} 

.body .content { 
	animation-name: fade-in, slideY; animation-delay: 0.7s; animation-duration: 0.4s; 

}


@keyframes turn-visible { 

	100% { 
		height: auto;  
	}

} 

@keyframes expand-to-bottom { 

	100% { 
		bottom: 0; 
	}

} 

@keyframes shrink-to-bottom { 

	100% { 
		top: 50%; 
	}

} 

@keyframes expand-to-top { 

	100% { 
		top: 0; 
	}

} 

@keyframes shrink-to-top { 

	100% { 
		bottom: 50%; 
	}

} 

@keyframes fade-in { 

	100% { 
		opacity: 1;  
	}

} 

@keyframes slideY { 

	100% { 
		transform: translateY( 0 ); 
	}

}

