{% assign data = include.data %} 
{% assign contacts = data.entries %} 


{% for contact in contacts %} 

	<article class= "entry {{ include.className }}"> 

		{% if contact.subheading %}
			{% include heading.html 
				className = "subheading" 
				level = 5 
				text = contact.subheading.text 
			%} 
		{% endif %}

		{% if contact.heading %}
			{% include heading.html 
				className = "contact-heading" 
				level = data.level 
				text = contact.heading.text 
			%} 
		{% endif %}

		{% if contact.text %}
			{% include text.html data = contact.text %} 
		{% endif %} 

		{% if contact.image %} 
			{% include cover-image.html data = contact.image %} 
		{% endif %}
		
		{% include key-value-pair-list.html data = contact.entries %} 

	</article>

{% endfor %}