{% assign entries = include.data %}  


<section class= "page-head">  
	<ul class= "entry-list head-list"> 
	{% for entry in entries %} 
		<li class= "entry head-entry"> 
			{% include header.html %} 

			<section class= "text-content">
				{% if entry.subheading %} 
					{% include heading.html className = "subheading" level = 5 text = entry.subheading.text %} 
				{% endif %}

				{% include heading.html level = 1 text = entry.heading.text %} 

				{% if entry.text %} 
					{% include text.html data = entry.text %} 
				{% endif %}

				{% if entry.link %} 
					{% include link.html className = "details-link" text = entry.link.text target = entry.link.target %} 
				{% endif %} 

				{% if entry.keyValuePairList %} 
					{% include key-value-pair-list.html className= "model-classification" data = entry.keyValuePairList %} 
				{% endif %}
			</section> 

			<ul class= "image-list">
			{% for image in entry.images %}
				<li class= "image-entry"> 
					{% include cover-image.html data = image %} 
				</li>
			{% endfor %}
			</ul>

			{% include quick-contact.html data = site.data.quickContact %} 
		</li>
	{% endfor %} 
	</ul> 
</section>