.about-us .body { 
	padding-top: 7rem; padding-bottom: 7rem; 

}

.text-content { 
	box-sizing: border-box; 
	margin-left: 5rem; margin-right: 40%; 
	padding: 3.5rem; 
	position: relative; z-index: 1; 
	background-color: #CCC; 

}

.cover-image { 
	width: 50%; height: 100%; 
	position: absolute; left: 50%; top: 0; 

}