.our-partners .entry, .reviews .entry { 
	padding: 2rem; 
}

/* Removes right margin from elements in the last column */
.our-partners .entry:nth-child( 2n + 2 ), 
.reviews .entry:nth-child( 2n + 2 ) { 
	margin-right: 0; 
} 

/* Removes top margin from elements in the top row */
.our-partners .entry:nth-child( 2 - n ), 
.reviews .entry:nth-child( 2 - n ) { 
	margin-top: 0; 
}

.about-us .body { 
	padding-top: 7rem; padding-bottom: 7rem; 

}

.about-us .text-content { 
	box-sizing: border-box; 
	margin-left: 5rem; margin-right: 40%; 
	padding: 3.5rem; 
	position: relative; z-index: 1; 
	background-color: var( --text-background-color ); 

	text-align: left; 

}

.about-us .cover-image { 
	width: 50%; height: 100%; 
	position: absolute; left: 50%; top: 0; 

}