.air-conditioner-model .head-list { 
	display: block; 

}

/* .head-list .entry { 
	position: relative; 

}  */

.head-list .bx-wrapper, 
.head-list .bx-viewport { 
	height: 100%; 
}

.head-list .bx-wrapper { 
	/* display: flex; justify-content: center; align-items: center;  */
	width: 50%; 
	position: absolute; left: 0; top: 0; 
	border: 1px solid; 

} 

/* .head-list .bx-viewport {  
	width: 50%; height: 50%; 
	position: relative; 

} */

.air-conditioner-model .bx-controls { 
	z-index: 4; 
	right: 0; 

}

/* .head-list .image-list { 
	width: 50%; height: 100%; 
	position: absolute; left: 0; top: 0; 

}  */ 

.head-list .image-list .image-entry { 
	width: 100%; height: 100%; 
} 

.model-classification { 
	/* display: flex; flex-direction: row; 	 */
	margin-top: 2.5rem;   

}

.model-classification .key-value-pair { 
	display: inline-block; 
	width: 12rem; 
	/* margin-bottom: 1.25rem;  */
	/* padding: 0.8rem;  */
	/* padding-left: 1.85em; padding-right: 1.85em;   */
	padding-top: 1.25em; padding-bottom: 1.25em;  
	position: relative; 
	background-color: var( --text-color ); 
	color: var( --text-background-color );
	/* border-bottom: 1px solid; 
	border-width: 0; border-bottom-width: 1px;    */ 
	/* border: 1px solid;  */ 
	font-size: 0.8rem; 
	text-transform: uppercase; 
} 

/* .model-classification .key-value-pair:first-child { 
	padding-right: 1.85em; 
	text-align: right; 

}

.model-classification .key-value-pair:last-child { 
	padding-left: 1.85em;
	border: none; 
	text-align: left; 

} */

/* .model-classification .key-value-pair:not( :last-child ):after { 
	display: block; 
	width: 1px; 
	position: absolute; top: -0.5em; bottom: -0.5em; right: 0; 
	background-color: var( --text-color ); 
	content: ""; 

} */

.model-classification .key { 
	text-transform: uppercase; 
} 

.model-classification .value { 
	font-family: var( --heading-font-family ); 
	font-size: 1.5em; 
}


@media ( max-width: 980px ) { 
	.head-list .bx-wrapper { 
		width: 100%; 
	
	} 
	
	.air-conditioner-model .bx-controls { 
		margin-right: 1.5rem; 
		position: absolute; 
	
	}

	

} 
