.our-contacts { 
	text-align: center; 

} 

.our-contacts .entry { 
	padding-top: 2rem; padding-bottom: 2rem;  
	margin-bottom: 0.75rem; 
	position: relative; 

} 

.our-contacts .entry:nth-child( 2n + 1 ) { 
	padding-right: 50%; 

}

.our-contacts .entry:nth-child( 2n ) { 
	padding-left: 50%; 

} 

.our-contacts .heading, 
.our-contacts .text-entry { 
	padding-left: 0.8rem; padding-right: 0.8rem; 

}

.our-contacts .cover-image, 
.our-contacts .key-value-pair-list { 
	position: absolute;  

} 

.our-contacts .cover-image { 
	width: 50%; height: 100%; 
	top: 0; 

} 

.our-contacts .entry:nth-child( 2n + 1 ) .cover-image { 
	left: 50%;
} 

.our-contacts .entry:nth-child( 2n ) .cover-image { 
	left: 0; 
} 

.our-contacts .key-value-pair-list { 
	width: 50%; 
	top: 50%; transform: translateY( -50% ); 
	background-color: var( --overlay-color ); 

}

.our-contacts .entry:nth-child( 2n + 1 ) .key-value-pair-list { 
	left: 50%; 

} 

.our-contacts .entry:nth-child( 2n ) .key-value-pair-list { 
	left: 0; 
	
} 

.our-contacts .key-value-pair { 
	display: inline-block;  
}

.our-contacts .key { 
	display: none; 
} 

.our-contacts .value {  
	padding-top: 1em; padding-bottom: 1em; 
	/* font-family: var( --heading-font-family );    */
	/* font-size: 0.8rem;  */ 
	/* font-weight: bold;  */ 
	text-transform: uppercase;

}