/* -----------------------------------------------------------------
	Layout
----------------------------------------------------------------- */ 

/* CSS variables, setting number of columns and gutter sizes between them */
.entry-list {
	--column-count: 2; 
	--column-gutter-x: 0.5rem; 
	--column-gutter-y: var( --column-gutter-x ); 
	--entry-list-width: var( --max-content-width ); 
	--column-gutter-count: calc( var( --column-count ) - 1 );
	--entry-width: calc( ( 100% - var( --column-gutter-count ) * var( --column-gutter-x ) ) / var( --column-count ) ); 
} 

/* Removes right margin from elements in the last column */
.entry:nth-child( 2n + 2 ) { 
	margin-right: 0; 
} 

/* Removes top margin from elements in the top row */
.entry:nth-child( 2 - n ) { 
	margin-top: 0; 
}

/* Entry list is a row of flex items that could move to the next row */ 
.entry-list { 
	display: flex; flex-direction: row; flex-wrap: wrap; 
	max-width: var( --entry-list-width ); 
	margin-left: auto; margin-right: auto; 

}

/* Entries width is based on their count and distance from each other */
.entry {  
	/* Presentations are not given a fixed height, and their content is not centered vertically,
	to avoid vertical disalignment of content in presentations with different text volume */ 
	box-sizing: border-box; 
	width: var( --entry-width ); 
	/* Defines vertical distance between entries */ 
	margin-right: var( --column-gutter-x ); margin-top: var( --column-gutter-y );  
	/* padding: 4rem;  */ 
	position: relative;  
} 


/* -----------------------------------------------------------------
	Color
----------------------------------------------------------------- */

/* .entry-list .entry {
	background-color: rgba( 255, 255, 255, 0.4 ); 
}  */

/* .entry .details-link {  
	color: var( --heading-color ); 
	border-color: var( --heading-color ); 
} */