/* -----------------------------------------------------------------
	Layout
----------------------------------------------------------------- */ 

.head-list { 
	--entry-list-width: var( --max-page-width ); 
	--column-gutter-x: 0; 
	--column-gutter-y: 0; 
	
	--entry-background-color: transparent; 

} 

.head-list { 
	/* margin-bottom: 4rem;  */  

} 

.head-entry {
	/* Giving space around the text content */
	padding-top: var( --head-list-padding-y ); padding-bottom: var( --head-list-padding-y ); 
	display: flex; flex-direction: column; align-items: center; 
	padding-left: 50%; 
	position: relative; 
	text-align: center; 
}

.head-list .text-content { 
	box-sizing: border-box; 

	/* Text content is centered */
	max-width: var( --max-content-width ); margin-left: auto; margin-right: auto; 
	
	/* When text content has a box around */ 
	padding-top: var( --head-list-text-padding-top ); 
	padding-bottom: var( --head-list-text-padding-bottom ); 
	padding-left: 4rem; 
	padding-right: 4rem; 
	/* When the box is not as wide as the content area and on the left */
	/* border-style: solid; border-color: transparent; 
	border-right-width: var( --text-box-border-right ); 
	border-left-width: var( --content-padding-left );   */ 
	/* background-clip: content-box;  */ 

	position: relative; top: 0rem; 
	z-index: 1; 

	/* border: 10px solid;  */

	/* background-color: rgba( 255, 255, 0, 0.5 );  */ 

	overflow: hidden;
	
	/* In centered layout, headings and text are centered */
	/* text-align: center;  */
}	

/* A background is possible to be set on the text content box itself, 
but for border around the box, an :after pseudo-element has to be created */
/* .head-list .text-content:after {
	box-sizing: border-box; 
	display: block; 
	width: 100%; height: 100%; 
	position: absolute; left: 0; top: 0;
	z-index: -1; 
	border-style: solid; border-width: 1px; 
	content: ""; 
}  */

.head-list .image-list {  
	width: 50%; height: 100%;  
	/* margin: 1.25rem;  */ 
	position: absolute;  
	left: 0; top: 0;    
} 

.head-list .cover-image {
	width: 100%; height: 100%; 
	position: absolute; left: 0; top: 0; 
	background-color: transparent; 

} 

/* .head-list .head-entry:after { 
	box-sizing: border-box; 
	display: block; 	
	width: 100%; height: 100%; 	 
	margin-left: 50%; 
	padding: 1rem; 
	position: absolute;  
	left: 1.25rem; top: 1.35rem; right: 1.25rem; bottom: 1.25rem; 
	background-color: var( --overlay-color ); 
	background-clip: content-box;  
	border: 1px solid; 
	content: ""; 
	opacity: 0.5; 

}  */

/* .head-list .head-entry:after { 
	margin-left: 50%; 

} */


/* .head-list .bx-controls-direction {
	bottom: 0; right: 0; 

}  */


/* -----------------------------------------------------------------
	Typography
----------------------------------------------------------------- */ 


/* -----------------------------------------------------------------
	Color
----------------------------------------------------------------- */ 

/* .header .head-list { 
	background-color: #CCC; 
} */

.head-list .text-content:after {
	/* background-color: #CCC;  */ 
	/* border-color: var( --text-color );  */
}


/* -----------------------------------------------------------------
	Meadia Queries
----------------------------------------------------------------- */





