/* CSS variables, setting number of columns and gutter sizes between them */
.our-products .entry-list {
	--column-count: 2; 
} 

/* .home-page .page-head { 
	background-image: url( "../images/Humidification Blog.png" ); background-size: 50% auto; background-repeat: no-repeat; 

} */ 

/* Removes right margin from elements in the last column */
.our-products .entry:nth-child( 2n + 2 ) { 
	margin-right: 0; 
} 

/* Removes top margin from elements in the top row */
.our-products .entry:nth-child( 2 - n ) { 
	margin-top: 0; 
} 

.our-products .entry { 
	padding: 2.5rem;  
	background-color: var( --text-background-color ); 
	color: var( --text-color ); 

} 


@media ( max-width: 980px ) { 

	.site-header { 
		width: 100%; 
		left: 0; 
	} 

	.head-list .head-entry {  
		padding-left: 0; 
		  
	} 

	.head-list .image-list { 
		width: 100%; height: 100%; 
		
	} 

	.head-list .cover-image { 
		opacity: 0.25; 

	} 

	.quick-contact { 
		left: 0; 
	
	} 

	.bx-controls { 
		position: initial; 
		margin-right: 0; 

	} 

} 

@media ( max-width: 780px ) { 

	.our-products .entry-list, 
	.reviews .entry-list { 
		--column-count: 1; 
		--column-gutter-x: 0rem; 

	}

} 