.spec-heading { 
	font-size: 1rem; 

} 

.spec-subheading { 
	font-size: 0.75rem; 

} 

.group-header, 
.group-entry { 
	display: block; 

} 

.group-entry .key-value-pair { 
	display: inline-block; 

}

.group-entry .key { 
	font-size: 0.9rem; 
	text-transform: uppercase; 

} 

.group-entry .value { 
	font-family: var( --heading-font-family ); 
	font-size: 2rem; 
}