/* -----------------------------------------------------------------
	Layout
----------------------------------------------------------------- */ 

.head {
	/* max-width: var( --max-content-width ); 
	margin-left: auto; margin-right: auto;  */
	/* Giving space around the text content */
	/* padding-top: 2.5rem;  */ 
	/* padding-bottom: 2.5rem;   */
	/* padding-left: 4rem; padding-right: 4rem;  */
	position: relative; 
}

/* Text content is pulled to the right */
/* .head .text-content {
	box-sizing: border-box; 
	width: 50%; 
	margin-left: auto; 
	padding: 7.75rem 8.5rem 7.75rem 5.5rem; 
	position: relative; z-index: 1; 
} */


.head .text-content {
	box-sizing: border-box;  

	/* Text content is centered */
	max-width: var( --max-content-width ); margin-left: auto; margin-right: auto; 
	
	/* When text content has a box around */ 
	/* padding: 5rem;  */
	/* padding-top: 5rem;  */ 
	margin-bottom: 2.5rem;  
	/* padding-top: 5rem; 
	padding-bottom: 5rem; 
	padding-left: 8.5rem;
	padding-right: 8.5rem;  */
	/* When the box is not as wide as the content area and on the left */
	/* border-style: solid; border-color: transparent; 
	border-right-width: var( --text-box-border-right );  
	background-clip: padding-box;  */ 

	position: relative; top: 0rem; 
	z-index: 1; 

	overflow: hidden;
	
	/* In centered layout, headings and text are centered */
	/* text-align: center;  */
}	

/* A background is possible to be set on the text content box itself, 
but for border around the box, an :after pseudo-element has to be created */
/* .head .text-content:after {
	box-sizing: border-box; 
	display: block; 
	width: 100%; height: 100%; 
	position: absolute; left: 0; top: 0;
	z-index: -1; 
	content: "";
} */

/* Images are absolutely positioned for easier change of position */
.head > .cover-image { 
	width: 100%; height: 100%; height: 20rem; 
	/* position: absolute; left: 0; top: 0;  */
	background-size: cover; 
} 


/* -----------------------------------------------------------------
	Typography
----------------------------------------------------------------- */ 

.head { 
	text-align: center; 
}



/* -----------------------------------------------------------------
	Color
----------------------------------------------------------------- */

.head .text-content:after {
	background-color: var( --overlay-color ); 
	/* border-color: rosybrown;  */
}



/* -----------------------------------------------------------------
	Meadia Queries
----------------------------------------------------------------- */

@media ( max-width: 1280px ) {
	.head .text-content {
		padding-left: 5%; padding-right: 5%; 
	}
}

@media ( max-width: 1040px ) {
	.head .text-content {
		width: auto; 
		margin-left: 0; 
		background-color: rgba( 255, 255, 255, 0.85 ); 
	}

	.head .image, .head .image-set {
		width: 100%; 

	}

}

@media ( max-width: 820px ) {
	.head {
		border-left: 0; border-right: 0; 
	}

	.head .text-content { 
		padding-left: var( --content-padding-left );
	}

}

