:root {
	/* Font size in pixels to serve as the rem-units base  */
	--base-font-size: 14px; 


	/**
	 * Layout
	 */

	/* Constrains the width of the page on larger screens, applied on sections */
	--max-page-width: 1420px; 
	/* Constrains the width of the page content */
	--max-content-width: 960px;  

	/* Defines space around sections, that are not full width on smaller screens */ 
	--content-padding-left: 1.25rem; 
	--content-padding-right: 1.25rem; 


	/**
	 * "Read More" Button 
	 */

	--button-padding-y: 0.85rem;
	--button-padding-x: 1.4rem; 


	/**
	 * Section 
	 */

	--section-margin-y: 8rem; 


	/**
	 * General heading and text distance 
	 */

	--heading-margin-bottom: 1.5rem; 
	--section-heading-overline-height: 2px; 
	--section-heading-overline-distance: 3.5rem; 
	--text-margin-bottom: calc( var( --heading-margin-bottom ) * 1.4 ); 
	--subheading-margin-bottom: calc( var( --heading-margin-bottom ) * 0.05 ); 


	/**
	 * Header vertical distances 
	 */

	--head-list-padding-y: 0rem; 
	--head-list-text-padding-top: 12rem; 
	--head-list-text-padding-bottom: calc( var( --head-list-text-padding-top ) + 0rem ); 


	/**
	 * Font
	 */
	
	--text-font-family: Arial; 

	--sell-points-heading-font-size: 2rem; 
	
	--heading-font-family: ArialBlack; 
	--heading-font-size: 1.8rem; 
	--heading-line-height: 1.25; 

	--subheading-font-family: Arial; 

	/* Points to the font, used by icons */
	--icon-font-family: IonIcons; 

	/* Assigns icons */
	--open-nav-button-icon: "\f20d"; 
	--close-nav-button-icon: "\f12a"; 
	--scroll-to-top-button-icon: "\f3d7"; 
	--address-icon: "\f448"; 
	--phone-icon: "\f4b9"; 
	--email-icon: "\f423"; 


	/**
	 * Color
	 */

	/* Main text color */
	--text-color: rgb(108, 133, 54); 
	/* Color behind text */
	--text-background-color: rgba( 255, 255, 255, 0.95 );
	/* Color of text section, overlapping another section or an image */
	--overlay-color: rgba( 255, 255, 255, 0.95 ); 

	/* --heading-color:  rgba( 144, 224, 32, 1 );  */ 


	/**
	 * Custom
	 */

	/* Used to push section content sideways to make its width equal to max content width */
	--content-push-inward: calc( ( 100% - var( --max-content-width ) ) / 2 ); 

	/* For use when header is placed over slider */
	--header-height: 2.5rem; 
	--header-margin-top: 4rem; 
	--header-margin-bottom: 0; 

	--site-header-font-size: 1rem; 

	/* Offer list text box width, taken out of scope to be available to other sections */
	--text-box-width: 40rem; 
	--text-box-border-right: 0; 
	--text-box-color: darkgoldenrod; 


	
}






