---
layout: page 
--- 


{% include heading.html className = "product-heading" level = 1 text = page.model %} 	

<section class= "section pictures"> 
	{% include heading.html className = "section-heading" level = 2 text = "Pictures" %} 
	{% include text.html data = page.pictures.text %} 

	<ul class= "image-list"> 
	{% for image in page.pictures.entries %} 
		<li class= "entry image-entry"> 
			{% include image.html src = image.src alt = image.alt %} 
		</li>
	{% endfor %} 
	</ul>
</section>

<section class= "section description"> 
	{% include heading.html className = "section-heading" level = 2 text = "Description" %} 
	{% include text.html data = page.description.text %} 
</section>

<section class= "section specifications"> 
	{% include heading.html className = "section-heading" level = 2 text = "Specifications" %} 
	{% include text.html data = page.specs.text %} 

	<section class= "spec-set"> 
	{% for spec in site.data.airConditioner.specs.body %} 
		<article class= "spec"> 
			<h3 class= "heading spec-heading">{{ spec.key }}</h3> 

			<table class= "spec-group-list">
				<tbody>
				{% for group in spec.groups %} 
					<tr class= "spec-group">
						<th class= "spec-group-head">{{ group.key }}</th>
						{% for value in group.values %} 
							<td class= "spec-group-entry">	
								{% include value.html data = value %} 
							</td>
						{% endfor %} 
					</tr>
				{% endfor %}
				</tbody>
			</table>

		</article>
	{% endfor %} 
	</section>
	
</section>